<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haruMemo.mapper.memoMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="memoId">
        INSERT INTO memo (memoTitle,memoContent)
        VALUES ( #{memoTitle},#{memoContent} )
    </insert>
</mapper>