<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haruMemo.mapper.MemoMapper">
    <select id="getList" parameterType="string" resultType="com.haruMemo.model.MemoVo">
        SELECT memo_id memoId ,memo_title memoTitle, memo_content memoContent, memo_keep_yn memoKeepYN, memo_password memoPassword
        FROM haru.memo
        <if test="searchKeyword != null">
            WHERE memo_title like concat('%',#{searchKeyword},'%') or memo_content like concat('%',#{searchKeyword},'%')
        </if>
        <choose>
            <when test="sort == 'abc'">
                ORDER BY memo_title DESC, memo_content DESC
            </when>
            <otherwise>
                ORDER BY memo_id DESC
            </otherwise>
        </choose>
    </select>
    <select id="getMemo" resultType="com.haruMemo.model.MemoVo">
        SELECT *
        FROM haru.memo
        where memo_id = #{memo_id}
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="memoId">
        INSERT INTO memo (memo_title,memo_content)
        VALUES ( #{memoTitle},#{memoContent} )
    </insert>
    <insert id="copy" useGeneratedKeys="true" keyProperty="memoId">
        INSERT INTO memo (memo_title,memo_content)
        SELECT memo_title, memo_content
        FROM memo
        where memo_id = #{memoId}
    </insert>
    <update id="update">
        UPDATE memo
        SET
        memo_title = IFNULL( #{memoVo.memoTitle}, memo_title ),
        memo_content = IFNULL( #{memoVo.memoContent}, memo_content )
        WHERE
        memo_id = #{memoId}
    </update>
    <update id="updateKeepYNMemo">
        UPDATE memo
        SET
        memo_keep_yn = CASE
        WHEN memo_keep_yn = 'Y' THEN 'N'
        ELSE 'Y'
        END
        WHERE
        memo_id = #{memoId}
    </update>
    <update id="updatePassword">
        UPDATE memo
        SET
        memo_password = IFNULL( #{setPassword})
        WHERE
        memo_id = #{memoId}
    </update>
    <delete id="delete" parameterType="Long">
        DELETE
        FROM memo
        WHERE memo_id = #{memoId}
    </delete>
</mapper>