<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/memos" method="post">
    <div>
        <label> 제목 :
            <input type="text" name="memoTitle" placeholder="제목 작성">
        </label></div>
    <div>
        내용 :
        <textarea class="form-control" rows="5" name="memoContent" placeholder="내용 작성">
</textarea></div>
    <input type="submit" value="작성">
    <button type="button" onclick="location.href='/memos'">취소</button>
</form>
</body>
</html>